In [1]:
import json
import numpy as np
import pandas as pd
from nlbayes import ORNOR
from nlbayes.utils import read_network_json, get_evidence_dict

In [2]:
# download files: 
#   - This differential expression table was generated using the GEO2R tool, contrasting the E2F3 treated
#     samples against the control samples. At GEO2R, we need to select the `Gene.ID` column that contains
#     Entrez (NCBI) gene ids.
#     url: https://umbibio.math.umb.edu/nlbayes/assets/data/experiments/GSE3151.E2F3.top.table.tsv
#   - Since the experiment above was performed on mammary epithelial cell cultures, we may choose a breast
#     tissue specific network. 
#     url: https://umbibio.math.umb.edu/nlbayes/assets/data/networks/gtex_chip/homo_sapiens/tissue_specific/breast.rels.json

In [3]:
network = read_network_json("breast.rels.json")

In [4]:
evidence = pd.read_csv("GSE3151.E2F3.top.table.tsv", sep='\t')
evidence = get_evidence_dict(
        evidence,
        logfc_threshold=1,      # limit DE genes by log2fold-change (logFC)
        pval_threshold=0.001,   # limit DE genes by p-value
        network=network,        # optional. If provided, genes will be selected
                                # only if present in network's set of targets
    )
print(f"\nSelected {len(evidence)} DE genes")

Using column `Gene.ID` as gene
Using column `adj.P.Val` as pval
Using column `logFC` as logfc

Selected 255 DE genes

In [5]:
model = ORNOR(network, evidence, n_graphs=5, uniform_prior=False)

In [6]:
model.fit(n_samples=2000, gelman_rubin=1.2, burnin=True)

Initializing model burn-in ...

100%|██████████| 20/20 [00:29<00:00,  1.47s/it]

Converged after 20 samples
Max Gelman-Rubin statistic is 1.8285694420354446 (target was 5.0 )
Burn-in complete ...

100%|██████████| 140/140 [03:55<00:00,  1.69s/it]

Converged after 140 samples
Max Gelman-Rubin statistic is 1.1951619587694196 (target was 1.2 )

In [7]:
df = model.get_results()
df

      TF_id         X         T
rank
1      3169  1.000000  0.813403
2      1869  1.000000  0.824464
3      5914  0.991071  0.791339
4      6256  0.987500  0.730360
5       367  0.975000  0.768256
...     ...       ...       ...
745    1499  0.001786  0.491821
746   79577  0.001786  0.474731
747   26523  0.001786  0.494423
748   55290  0.000000  0.477047
749    7546  0.000000  0.488472

[749 rows x 3 columns]

In [8]:
# we would like to convert NCBI ids to gene symbols
from biomart import BiomartServer

# Connect to the BioMart server
server = BiomartServer("http://www.ensembl.org/biomart")

# Set the dataset to use
dataset = server.datasets["hsapiens_gene_ensembl"]

# Define the attributes to retrieve
attributes = ["entrezgene_id", "external_gene_name"]

# Define the filters to use (e.g. gene ids to convert)
filters = {"entrezgene_id": df['TF_id'].to_list()}

In [9]:

# Perform the query
response = dataset.search({'attributes':attributes, 'filters':filters})

annotation = {}
for record in response.iter_lines():
    record = record.decode("utf-8").strip().split("\t")
    if len(record) == 2:
        annotation[record[0]] = record[1]
    else:
        annotation[record[0]] = ''

In [10]:

# Process the results
df['TF_symbol'] = df['TF_id'].map(annotation)
df.iloc[:,[0, 3, 1, 2]].head(50)

      TF_id TF_symbol         X         T
rank
1      3169     FOXA1  1.000000  0.813403
2      1869      E2F1  1.000000  0.824464
3      5914      RARA  0.991071  0.791339
4      6256      RXRA  0.987500  0.730360
5       367        AR  0.975000  0.768256
6      4613      MYCN  0.944643  0.773096
7      8320     EOMES  0.901786  0.744966
8       429     ASCL1  0.792857  0.667199
9      2625     GATA3  0.783929  0.705112
10    11091      WDR5  0.657143  0.628203
11      604      BCL6  0.626786  0.680591
12     7706    TRIM25  0.608929  0.669096
13     5468     PPARG  0.555357  0.610877
14     2078       ERG  0.548214  0.631511
15    23462      HEY1  0.533929  0.634699
16      571     BACH1  0.483929  0.609344
17     2260     FGFR1  0.476786  0.560995
18     2626     GATA4  0.441071  0.573372
19     6720    SREBF1  0.428571  0.539482
20     8554     PIAS1  0.423214  0.567188
21     7020    TFAP2A  0.412500  0.597455
22     8819     SAP30  0.366071  0.585487
23     5241       PGR  0.344643  0.555060
24     5925       RB1  0.341071  0.571283
25     7421       VDR  0.321429  0.558197
26     4629     MYH11  0.314286  0.561413
27     9355      LHX2  0.300000  0.572433
28    79755    ZNF750  0.289286  0.588844
29     6886      TAL1  0.273214  0.561935
30     6722       SRF  0.269643  0.566981
31     1870      E2F2  0.248214  0.542992
32     6591     SNAI2  0.239286  0.526057
33    23429      RYBP  0.237500  0.525047
34     2099      ESR1  0.228571  0.514074
35     6925      TCF4  0.225000  0.539960
36     2908     NR3C1  0.214286  0.537383
37     2962    GTF2F1  0.200000  0.573335
38     5885     RAD21  0.192857  0.528333
39     7703     PCGF2  0.189286  0.556912
40     1022      CDK7  0.185714  0.478086
41    10413      YAP1  0.173214  0.531635
42     4800      NFYA  0.169643  0.553526
43     6597   SMARCA4  0.169643  0.533297
44     2119      ETV5  0.162500  0.509554
45     7025     NR2F1  0.160714  0.550473
46     7343      UBTF  0.158929  0.530151
47     7026     NR2F2  0.157143  0.526848
48    79718   TBL1XR1  0.155357  0.494615
49    54790      TET2  0.151786  0.523026
50      405      ARNT  0.150000  0.479730