In [5]:
import json
import numpy as np
import pandas as pd
import nlbayes
from nlbayes.utils import read_network_json, get_evidence_dict

In [2]:
# download files: 
#   - This differential expression table was generated using the GEO2R tool, contrasting the E2F3 treated
#     samples against the control samples. At GEO2R, we need to select the `Gene.ID` column that contains
#     Entrez (NCBI) gene ids.
#     url: https://umbibio.math.umb.edu/nlbayes/assets/data/experiments/GSE3151.E2F3.top.table.tsv
#   - Since the experiment above was performed on mammary epithelial cell cultures, we may choose a breast
#     tissue specific network. 
#     url: https://umbibio.math.umb.edu/nlbayes/assets/data/networks/gtex_chip/homo_sapiens/tissue_specific/breast.rels.json

In [6]:
network = read_network_json("breast.rels.json")

In [8]:
evidence = pd.read_csv("GSE3151.E2F3.top.table.tsv", sep='\t')
evidence = get_evidence_dict(
        evidence,
        logfc_threshold=1,      # limit DE genes by log2fold-change (logFC)
        pval_threshold=0.001,   # limit DE genes by p-value
        network=network,        # optional. If provided, genes will be selected
                                # only if present in network's set of targets
    )
print(f"\nSelected {len(evidence)} DE genes")

Using column `Gene.ID` as gene
Using column `adj.P.Val` as pval
Using column `logFC` as logfc

Selected 255 DE genes

In [9]:
model = nlbayes.ModelORNOR(network, evidence, uniform_t = False, n_graphs=5)

In [10]:
model.sample_posterior(N=2000, gr_level=1.2, burnin=True)

Initializing model burn-in ...

100%|██████████| 20/20 [00:23<00:00,  1.16s/it]

Converged after 20 samples
Max Gelman-Rubin statistic is 2.0185805713786285 (target was 5.0 )
Burn-in complete ...

100%|██████████| 165/165 [03:20<00:00,  1.21s/it]

Converged after 165 samples
Max Gelman-Rubin statistic is 1.1995180616707848 (target was 1.2 )

In [11]:
df = model.inference_posterior_df()
df

      TF_id         X         T
rank
1      3169  1.000000  0.840077
2      1869  1.000000  0.859877
3      6256  0.998485  0.786958
4       367  0.987879  0.784177
5      5914  0.983333  0.768444
...     ...       ...       ...
745    7546  0.003030  0.485636
746    2972  0.001515  0.478635
747   57491  0.001515  0.501388
748   55869  0.001515  0.507888
749    7559  0.000000  0.507477

[749 rows x 3 columns]

In [ ]:
# we would like to convert NCBI ids to gene symbols
from biomart import BiomartServer

# Connect to the BioMart server
server = BiomartServer("http://www.ensembl.org/biomart")

# Set the dataset to use
dataset = server.datasets["hsapiens_gene_ensembl"]

# Define the attributes to retrieve
attributes = ["entrezgene_id", "external_gene_name"]

# Define the filters to use (e.g. gene ids to convert)
filters = {"entrezgene_id": df['TF_id'].to_list()}

In [ ]:

# Perform the query
response = dataset.search({'attributes':attributes, 'filters':filters})

annotation = {}
for record in response.iter_lines():
    record = record.decode("utf-8").strip().split("\t")
    if len(record) == 2:
        annotation[record[0]] = record[1]
    else:
        annotation[record[0]] = ''

In [38]:

# Process the results
df['TF_symbol'] = df['TF_id'].map(annotation)
df.iloc[:,[0, 3, 1, 2]].head(50)

      TF_id TF_symbol         X         T
rank
1      3169     FOXA1  1.000000  0.840077
2      1869      E2F1  1.000000  0.859877
3      6256      RXRA  0.998485  0.786958
4       367        AR  0.987879  0.784177
5      5914      RARA  0.983333  0.768444
6      4613      MYCN  0.930303  0.757959
7       429     ASCL1  0.843939  0.707753
8      8320     EOMES  0.686364  0.650892
9      2625     GATA3  0.678788  0.660604
10     2260     FGFR1  0.640909  0.637331
11     2078       ERG  0.637879  0.668264
12    11091      WDR5  0.609091  0.582565
13     7706    TRIM25  0.581818  0.662166
14      571     BACH1  0.539394  0.615424
15     5468     PPARG  0.528788  0.634683
16    23462      HEY1  0.500000  0.603223
17     8554     PIAS1  0.492424  0.618626
18     7020    TFAP2A  0.478788  0.600141
19      604      BCL6  0.460606  0.623442
20     6720    SREBF1  0.396970  0.580519
21     2626     GATA4  0.384848  0.558924
22     7421       VDR  0.369697  0.607069
23     5241       PGR  0.368182  0.575200
24     8819     SAP30  0.357576  0.556468
25     6886      TAL1  0.357576  0.579282
26     5885     RAD21  0.345455  0.587546
27    79755    ZNF750  0.318182  0.572813
28     5925       RB1  0.316667  0.533999
29     2099      ESR1  0.272727  0.556556
30     6591     SNAI2  0.272727  0.575058
31     9355      LHX2  0.251515  0.547204
32     7343      UBTF  0.243939  0.587212
33      405      ARNT  0.240909  0.540703
34     4629     MYH11  0.236364  0.515938
35     6925      TCF4  0.222727  0.555670
36     2908     NR3C1  0.207576  0.567241
37     4601      MXI1  0.187879  0.526625
38     1870      E2F2  0.184848  0.528981
39    23429      RYBP  0.184848  0.529807
40     5324     PLAG1  0.184848  0.497741
41     5090      PBX3  0.180303  0.542392
42    84289      ING5  0.178788  0.546373
43     7703     PCGF2  0.168182  0.543826
44      602      BCL3  0.166667  0.530062
45     9324     HMGN3  0.163636  0.556431
46     7026     NR2F2  0.162121  0.540410
47     6722       SRF  0.160606  0.496058
48    79718   TBL1XR1  0.160606  0.533830
49     7025     NR2F1  0.157576  0.536294
50    54790      TET2  0.154545  0.520604